<h1>購物車</h1>

<table class="cart-table">
  <thead>
    <th>
      <td>商品名稱</td>
      <td>數量</td>
      <td>單價</td>
      <td>小計</td>
    </th>
  </thead>
  <tbody>
    <tr>
      <td>商品名稱</td>
      <td>數量</td>
      <td>單價</td>
      <td>小計</td>
    </tr>
  </tbody>
</table>
