nav.top-nav {
  background-color: #F2DAC4;
  padding: 6px;
  text-align: right;

  ul {
    list-style: none;

    li {
      display: inline-block;
      font-size: 20px;
      margin-right: 10px;

      a {
        color: #2980F2;
        text-decoration: none;
      }
    }
  }
}