form#candidate_form {
  input[type="text"], textarea {
    font-size: 25px;
  }
  div {
    margin: 10px 0;
  }
  input[type="submit"] {
    background-color: red;
    color: white;
    border-radius: 4px;
    padding: 10px;
    font-size: 20px;
  }

  .field_with_errors {
    display: inline;

    input {
      border-color: red;
      border-width: 2px;
    }
    label {
      color: red;
      font-weight: 700;
    }
  }
}

.candidate-list {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  .candidate-card {
    box-sizing: border-box;
    float: left;
    margin-right: 3px;
    margin-top: 5px;

    background-color: #f0f0f0;
    width: 33%;

    img { width: 100%; }

    .info {
      width: 100%;

      h1 {
        font-size: 25px;
        font-weight: 200;
        margin-top: 5px;
        margin-bottom: 5px;
      }

      h2 {
        font-size: 20px;
        font-weight: 300;
        margin-top: 5px;
        margin-bottom: 5px;
      }

      a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        background-color: black;
        color: white;
        text-decoration: none;
        padding: 10px;
        font-size: 20px;
        text-align: center;
        border-radius: 4px;
      }
    }
  }
}
